.head {
  width: 100%;
  min-width: 200px;
  display: grid;
  grid-template-columns: 23% 1fr 23%;
  grid-template-rows: 43px;
  justify-items: center;
  align-items: center;
  color: rgb(204, 204, 204);
}

.head div {
  width: 100%;
  height: 100%;
}

.head button {
  all: unset;
  width: 100%;
  height: 100%;
  transition-duration: 0.2s;
  position: relative;
}

input.selected::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100% - 2px);
  border-radius: inherit;
  width: calc(100% - 2px);
  border: 1px solid rgb(76, 248, 128);
}

.head button:hover {
  cursor: pointer;
  color: black;
}

.head button::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition-duration: 0.3s;
}

.head button:hover::before {
  opacity: 1;
}

#history::before {
  background: linear-gradient(to right, rgb(144, 108, 10), rgba(0, 0, 0, 0));
}

#option::before {
  background: linear-gradient(to left, rgb(144, 108, 10), rgba(0, 0, 0, 0));
}

#historyContent {
  transition: all 0.2s ease-in-out;
  transform: translate(-100%, 0);
}

#historyContent>p {
  padding: 0;
  margin: 0;
  width: 100%;
  color: rgb(134, 134, 134);
  background-color: azure;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.active#historyContent {
  transform: translate(0, 0);
}

.active#historyContent~#todoList {
  transform: translate(100%, 0);
  opacity: 0;
}

#optionContent {
  transition: all 0.2s ease-in-out;
  transform: translate(100%, 0);
}

.active#optionContent {
  transform: translate(0, 0);
}

.active#optionContent~#todoList {
  transform: translate(-200%, 0);
  opacity: 0;
}

.head form {
  width: 100%;
  height: 100%;
}

#input {
  width: 100%;
}

#input:focus {
  border: 1px solid black;
  outline: none;
}

button.active {
  background-color: rgba(211, 189, 81, 0.557);
  color: black;
}

@media (prefers-color-scheme: dark) {
  #input:focus {
    border: 1px solid rgb(76, 248, 128);
  }

  #historyContent>p {
    background-color: #0f0f0f98;
  }

  #history::before {
    background: linear-gradient(to right, rgb(144, 108, 10), rgba(0, 0, 0, 0));
  }

  #option::before {
    background: linear-gradient(to left, rgb(144, 108, 10), rgba(0, 0, 0, 0));
  }

  .head button:hover {
    color: rgb(208, 190, 28);
  }

  .head button:focus-visible {
    color: rgb(208, 190, 28);
  }

  #option:focus-visible {
    background: linear-gradient(to left, rgb(144, 108, 10), rgba(0, 0, 0, 0));
  }

  #history:focus-visible {
    background: linear-gradient(to right, rgb(144, 108, 10), rgba(0, 0, 0, 0));
  }
}