@import url("color.css");

* {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
  box-sizing: border-box;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

:root {
  color: var(--color-main-color);
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: hsla(0, 0%, 20%, 0.8);
}

.container {
  position: relative;
  flex: 1;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-flow: column;
}

input,
button {
  border-radius: 8px;
  padding: 0.6em 1.2em;
  margin: 0;
  background-color: var(--color-input-button-background);
  height: 100%;
  text-align: left;
  outline: none;
  border: none;
  color: var(--color-main-color);
}

button {
  cursor: pointer;
}

@media (prefers-color-scheme: dark) {
  ::-webkit-scrollbar-thumb {
    background-color: rgba(231, 231, 231, 0.5);
  }

  #input:focus {
    border-color: white;
    caret-color: white;
  }

  .todo.selected::before {
    height: calc(100% - 2px);
    width: calc(100% - 2px);
    border: 1px solid rgb(76, 248, 128);
  }
}