.content {
  flex: 1;
  position: relative;
}

#todoList {
  position: absolute;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  top: 20px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 85%;
  height: calc(100% - 20px);
}

.todo {
  background-color: #f3f3f3;
  height: 45px;
  display: grid;
  grid-template-columns: 30px 1fr 80px;
  border-bottom: 1px rgb(175, 175, 175) solid;
  transition-duration: 0.2s;
  transition-property: background-color;
}

.todo:first-child {
  border-start-start-radius: 8px;
  border-start-end-radius: 8px;
}

.todo:first-child>button {
  border-start-end-radius: 8px;
}

.sortable-ghost {
  opacity: 0;
}

.todo:last-child {
  border-bottom: 0 none;
  border-end-end-radius: 8px;
  border-end-start-radius: 8px;
}

.todo:last-child>button {
  border-end-end-radius: 8px;
}

.todo:hover {
  background-color: #d1d1d1;
}

.todoHandle {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  cursor: move;
}

.todoForm {
  width: 100%;
  margin: 0;
  padding: 0;
}

.todoInput {
  width: 100%;
  align-items: center;
  justify-content: left;
  text-align: left;
  transition: 0.2s;
  padding: 10px;
  appearance: none;
  background-color: transparent;
  border: none;
  box-shadow: none;
  width: 100%;
  border-radius: 0;
  height: 100%;
}

.todoInput:hover {
  box-shadow: none;
  outline: none;
}

.todoInput:focus {
  background-color: #e6e6e6;
  box-shadow: none;
  outline: none;
}

.todoButton {
  background-color: transparent;
  box-shadow: none;
  border-radius: 0;
  border: none;
  transition: 0.2s;
  border-left: 1px rgb(175, 175, 175) solid;
}

.todoButton:hover {
  background-color: #a1a1a1;
}

@media (prefers-color-scheme: dark) {
  .todo {
    background-color: #2f2f2f;
    border-bottom: 1px rgb(175, 175, 175) solid;
    color: white;
  }

  .hover:hover {
    background-color: #744545;
  }

  .todoInput:focus {
    background-color: #b46d6d;
  }

  .todoButton {
    border-left: 1px rgb(175, 175, 175) solid;
  }

  .todoButton:hover {
    background-color: #b46d6d;
  }
}