@import url("color.css");

.content {
  flex: 1;
  position: relative;
  height: 10px;
}

#todoList {
  position: absolute;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  top: 20px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 85%;
  height: calc(100% - 20px);
  transition: all 0.2s ease-in-out;
}

.todo {
  background-color: var(--color-todo-background);
  height: 45px;
  display: grid;
  grid-template-columns: 30px 1fr 80px;
  border-bottom: 1px rgb(175, 175, 175) solid;
  outline: 0;
  transition-duration: 0.2s;
  transition-property: background-color;
  opacity: 1;
}

.content>*>*:first-child {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.todo:first-child>button {
  border-top-right-radius: 8px;
}

.sortable-ghost {
  opacity: 0;
}

.content>*>*:last-child {
  border-bottom: none;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.todo:last-child>button {
  border-bottom-right-radius: 8px;
}

.todo:hover {
  background-color: var(--color-todo-hover-background);
}

.todoHandle {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  cursor: move;
}

.todoForm {
  width: 100%;
  margin: 0;
  padding: 0;
}

.todoInput {
  width: 100%;
  align-items: center;
  justify-content: left;
  text-align: left;
  transition: 0.2s;
  padding: 10px;
  appearance: none;
  background-color: transparent;
  border: none;
  box-shadow: none;
  width: 100%;
  border-radius: 0;
  height: 100%;
}

.todoInput:hover {
  box-shadow: none;
  outline: none;
}

.todoInput:focus {
  background-color: var(--color-todo-input-focus-background);
  box-shadow: none;
  outline: none;
}

.todoButton {
  background-color: transparent;
  box-shadow: none;
  border-radius: 0;
  border: none;
  transition: 0.2s;
  border-left: 1px rgb(175, 175, 175) solid;
}

.todoButton:hover {
  background-color: var(--color-todo-button-hover-background);
}

.todo.selected {
  position: relative;
  transition: none !important;
  background-color: var(--color-select-background) !important;
}

.todo.selected::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100% - 3px);
  border-radius: inherit;
  width: calc(100% - 3px);
  border: 2px solid var(--color-select-outline);
  pointer-events: none;
}